/AML702_Prog_Assgn/app/numintegrals.py~
/AML702_Prog_Assgn/gui/igl-app-window.glade~
/AML702_Prog_Assgn/numintegraldemo.py~
/mpl-ntb-glade.glade~
/mplwithnavbar-glade.py~
/matplotlibwindow-glade.py~
/guitrialgtk.py~
/firstguiglade.glade~
/empty-window-glade.glade~
