/AML702_Prog_Assgn/gui/#igl-app-method-details.glade#
/AML702_Prog_Assgn/gui/__init__.pyc
/AML702_Prog_Assgn/gui/guisetup.pyc
/AML702_Prog_Assgn/gui/igl-app-method-details.glade~
/AML702_Prog_Assgn/gui/igl-app-window-2.glade~
/AML702_Prog_Assgn/gui/igl-app-window_2.glade~
/AML702_Prog_Assgn/guisetup.pyc
/AML702_Prog_Assgn/guisetup.py~
/AML702_Prog_Assgn/numintegraldemo3.py~
/AML702_Prog_Assgn/numintegraldemo2.py~
/AML702_Prog_Assgn/gui/guisetup.py~
/AML702_Prog_Assgn/.swp
/.#guitrialgtk.py
/#guitrialgtk.py#
/AML702_Prog_Assgn/gui/igl-app-windowless.glade~
/AML702_Prog_Assgn/gui/#igl-app-windowless.glade#
/AML702_Prog_Assgn/app/numintegrals.py~
/AML702_Prog_Assgn/gui/igl-app-window.glade~
/AML702_Prog_Assgn/numintegraldemo.py~
/mpl-ntb-glade.glade~
/mplwithnavbar-glade.py~
/matplotlibwindow-glade.py~
/guitrialgtk.py~
/firstguiglade.glade~
/empty-window-glade.glade~
